.researchContent {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0 10% 0;
}

.researchHeader {
    display:flex;
    flex-direction: row;
    background-color: #F9B9BB;
    height:100%;
    align-items:center;
    justify-content: center;

}

.researchTitle {
    font-size:48pt;
    color: #A90206;
    text-align:center;
    padding: 3% 0 3% 0;
}

.motivation {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

.contentText {
    font-family: Poppins;
    font-size:14pt;
    line-height: 150%;

}
.contentTextBold {
    font-family: Poppins;
    font-size:14pt;
    line-height: 150%;
    font-weight: 600;

}

.contentTitle {
    font-family: Inter;
    font-size: 22pt;
    font-weight: bolder;
    padding-bottom:5%;
}

.insightTitle {
    font-family: Inter;
    font-size: 14pt;
    font-weight: bold;
    font-style: Italic;
    padding: 10% 0 5% 0;
}

.learningDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.learningColumn {
    margin:0 2% 0 2%;
    width:50%;
}

.motivationImg {
    height:100%;
    width:40%;
    padding-right: 1%;
}
.personaImage {
    height:100%;
    width:65%;
    margin: 0 2% 0 2%;
}
.personaImageRow {
    margin: 20% 0 0 0;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.prototypeGif {
    padding-left: 10%;
}

.studyMethods {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7%;

}

.studyMethodsTitle {
    font-family: Inter;
    font-size: 22pt;
    font-weight: bolder;
    padding: 15% 0 5% 0;
    text-align: center;
}

@media only screen and (max-width: 720px) {
    .header {
        display:flex;
        flex-direction: column-reverse;
        background-color: #98BEF8;
        height:100%;
    }
}

