.carousel {
    position:relative !important;
}

.carouselImage {
    width: 50%;
    height: 50%;
    cursor:zoom-in;
    position:relative !important;
}

.expandedImage {
    max-height: 100%;
    height:auto;
    max-width: 100%;
    width: auto;
    cursor:zoom-out;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.25);
    cursor: zoom-out;
    transition: all .30s linear;
    z-index: 101;
}

.portal{
    z-index: 30;
}